:root {
  --platinum: #e8e8e8ff;
--silver: #bfbfbfff;
--taupe-gray: #96939bff;
--english-violet: #564256ff;
--coral: #fc814aff;
--ash-gray: #bfc3baff;
--silver: #a9aca9ff;
--eggplant: #60495aff;
--english-violet: #3f3244ff;
--dark-purple: #2f2235ff;
--dutch-white: #e2d4b7ff;
--battleship-gray: #9c9583ff;
--ash-gray: #a1a499ff;
--silver: #b0bbbfff;
--ash-gray-2: #cadbc8ff;
}







nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: #555;
}

.body {
background-color: #bfbfbfff;
}